docker {
  enabled = true
  runOptions = "-v $PWD:/app -w /app"
}

process {
  executor = 'local'
  cpus = 2
  memory = '4 GB'
  time = '1h'
  container = 'glncddr:latest'
}

params {
  output = 'output_dir'
  run_embedding = false

  // Embedded input files (default)
  train = 'embeddings/train_emb_len100.csv'
  test = 'embeddings/test_emb_len100.csv'
  predict_lnc = 'embeddings/lncrna_emb_len100.csv'
  predict_prot = 'embeddings/protein_emb_len100.csv'
}
